:root {
  --text-dark: #233446;
  --text-danger: #e63946;
  --text-white: #ffffff;
  --bg-light: #fafafa;
}

.btn-orange {
  background-color: #fa891a;
  color: var(--bg-light);
}

.btn-orange:hover {
  background-color: #e07b16;
  color: var(--bg-light);
  transform: translateY(-2px);
}

.judulProduk {
  text-align: center;
  background-color: var(--text-dark);
  color: var(--text-white);
  font-size: 12px;
  padding: 8px;
  border-radius: 50px;
}
.deskProduk span {
  font-weight: bold;
  color: var(--text-danger);
  font-size: 12px;
  border-bottom: 2px solid var(--text-danger);
}
.deskProduk {
  text-align: center;
  margin-top: 5px;
}

.namaLink span {
  font-size: 10px;
}

.gambarProduk {
  height: 240px;
  object-fit: cover;
  padding: 5px;
}

@media (max-width: 992px) {
  .namaLink span {
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  .namaLink span {
    font-size: 9px;
  }
}

@media (max-width: 576px) {
  .judulProduk {
    text-align: center;
    background-color: var(--text-dark);
    color: var(--text-white);
    font-size: 9px;
    padding: 8px;
    border-radius: 50px;
  }
  .deskProduk span {
    font-weight: bold;
    color: var(--text-danger);
    font-size: 9px;
    text-align: center;
    border-bottom: 2px solid var(--text-danger);
  }
  a.namaLink {
    padding: 4px;
  }
  .namaLink span {
    font-size: 9px;
  }
}
